table {
    width: 75%;
}

.table-holder {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.records {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    flex-direction: column;
}
