<div class="login">
    <div class="headline">
        Enjoy My Work
    </div>
    <div class="section">
        <form>
            <div class="grid-container">
                <div class="grid-item">Email:</div>
                <div class="grid-item">
                    <input type="email" name="username" [(ngModel)]="username">
                </div>
                <div class="grid-item">Password:</div>
                <div class="grid-item">
                    <input type="password" name="password" [(ngModel)]="password">
                </div>
            </div>
        </form>
        <button (click)="login()">Login</button>
    </div>
    <div class="error-msg">{{ errorMessage }}</div>
</div>